<%- include('../partials/head.ejs') %>
<main>
  <% if (products.length > 0) { %>
  <div class="container">
    <ul>
      <% products.forEach(p => { %>
      <div class="card my-2 p-2">
        <li class="row align-items-center">
          <h1 class="h4 col-8"><%= p.title %></h1>
          <p class="col">Quantity: <%= p.quantity %></p>
          <form class="col" action="/cart-delete-item" method="POST">
            <input type="hidden" name="productId" id="productId" value="<%= p._id %>">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </li>
      </div>
      <% }); %>
    </ul>
    <form action="/create-order" method="POST" class="text-center">
      <button type="submit" class="btn btn-success">Order Now!</button>
    </form>
  </div>

  <% } else { %>
  <div class="container">
    <div class="article card my-5 py-4">
      <div class="card-body text-center">
        <h1 class="card-title">No Products in Cart!</h1>
        <p class="card-text text-muted">Shop for products now!</p>
        <a href="/" role="button" class="btn btn-success">Shop</a>
      </div>
    </div>
  </div>
  <% } %>
</main>

<%- include('../partials/end.ejs') %>