<%- include('../partials/head.ejs') %>
<main>
  <% if (orders.length > 0) { %>
  <div class="container my-5">
    <ul class="list-group">
      <% orders.forEach(order => { %>
      <li class="list-group-item">
        <h1 class="h5">Order #<%= order._id %></h1>
        <ul class="list-group">
          <% order.items.forEach(product => { %>
          <li class="list-group-item">
            Item: <span class="font-weight-bold"><%= product.title %></span>
            <br>
            Qty: <%= product.quantity %>
          </li>
          <% }); %>
        </ul>
      </li>
      <% }); %>
    </ul>
  </div>

  <% } else { %>
  <div class="container">
    <div class="article card my-5 py-4">
      <div class="card-body text-center">
        <h1 class="card-title">No Orders!</h1>
      </div>
    </div>
  </div>
  <% } %>
</main>

<%- include('../partials/end.ejs') %>
